/* General Styling */
body{
  background-color: #4eb4e0;
}
h1 {
  color: black;
  font: 48px/150% "Staatliches", cursive;
}

h2 {
  color: #545454;
  font: 32px/150% "Staatliches", cursive;
}

h3 {
  color: #545454;
  font: 24px/150% "Staatliches", cursive;
}

p,li {
  font: 18px/150% 'Proza Libre', sans-serif;
  color: black;
}

a {
  color: black;
}
a:visited {
  color: #ee42f4;
}
/* skip to content link for keyboard users */
.skip_link a{
  padding 10px;
  font: 1em/150% "Staatliches", cursive;
  position: absolute;
  text-decoration: none;
  background-color: #ffb3ba;
  top: -40px;
  left: 0px;
  color: black;
  border-right:1px solid black;
	border-bottom:1px solid black;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px;
  -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}
.skip_link a:focus{
  position: absolute;
  top: 0px;
}

/* Navigation Bar */
.topnav {
  background-color: #2961bc;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  z-index: 100;
}

.topnav a {
  color: lightgrey;
  text-align: center;
  text-decoration: none;
  padding: 0 1%;
  font: 1.5em/45px "Staatliches", cursive;
}
.topnav a:hover, a:focus {
  text-decoration: underline;
}

.topnav a.active {
  text-decoration: underline;
  color: white;
}
/* Homepage Bio Section */
div.bio {
  width: 50%;
}

/* Skills */
.icon {
  color: #545454;
  font-size: 2em;
}
.skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px 5px;
  justify-content: center;
  margin: 10px 5px;
}
.skills_container ul {
  list-style: none
}
.skill {
  padding: 5%;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
}

.skill p {
  margin-bottom: 2em;
}

/*Home Page Callout*/
.callout {
  position: fixed;
  background-color: lightgrey;
  bottom: 20px;
  right: 20px;
  border: 2px solid black;
  max-width: 300px;
}
.close_button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
/* experiences */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accactive, .accordion:hover, .accordion:focus {
  background-color: #ccc;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accactive:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.experience {
  display: none;
  padding: 0 10px;
  background-color: lightgrey;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
/* Project Gallery */
.projects_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px 5px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  padding: 5%;
}
.project img {
    min-width: 100%;
    min-height: 100%
}
.project-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 5px solid white;
  -webkit-transition: transform 0.8s;
  transform-style: preserve-3d;
}

.project-inner p {
  color: white;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.project:hover .project-inner {
  transform: rotateY(180deg);
}
.project:focus .project-inner {
  transform: rotateY(180deg);
}

.project:hover .project-front, .project-back {
  position: absolute;
}
.project:focus .project-front, .project-back {
  position: absolute;
}

.project-front, .project-back {
  backface-visibility: hidden;
}

.project-back {
  background-color: #bbb;
  transform: rotateY(180deg);
}
.project-back p {
  font-size: 2.1vw;
}
/* Form */
.contactForm {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px;
  position: relative;
  left: 15px;
  border: 3px solid white;
}
/* Custom Form Validation */
.errorMsg {
        color:red;
        display:none;
}

/*Video*/
.inkVideo {
  width: 100%;
  height: auto;
}
/* Responsive Layout */

@media only screen and (max-width: 1000px){
  .skills_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .projects_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .project-back p {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 750px){
  .skills_container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .projects_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 2fr);
  }
  .project-back p {
    font-size: 6vw;
  }
  div.bio {
    width: 100%
  }

}
